SECRET_KEY=django-insecure-ie0wdgeq1w^(s94iu!8mis(8_^san--hq(1c)lceaz2yxaqab3
DB_NAME=freenglish_prod_db
DB_USER=freenglish_admin
DB_PASSWORD=SuperSecurePassword123!
DB_HOST=db
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=23622332231-nr5c40nk9aroqjvqmb4dtt4bcn00a4sk.apps.googleusercontent.com
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=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
